*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root
{
    --primary: rgb(253, 166, 4);
    --secondary: rgb(247, 234, 211);
    --accent:   rgb(253, 120, 4);

}
body
{
    height:100vh;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 450px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 7px 17px 0px rgba(46, 46, 46, 0.2);
}
.container h2
{
    color:rgb(68, 68, 68);
}
form
{
    display: flex;
    flex-direction: column; 
}
form>*
{
    font-size: 1.1em;
    border:none;
    
    outline:none;
    background-color: rgb(247, 241, 230);;
    padding: 8px 16px;
    margin: 10px 0;
    border-radius: 10px;
}
form>*:hover
{
    box-shadow: 0px 0px 17px 0px rgba(46, 46, 46, 0.2);
}
form>*:focus
{
    border-left:10px solid var(--primary);
    box-shadow: 0px 0px 17px 0px rgba(46, 46, 46, 0.2);
}
form input[type=submit]
{
    margin-top: 20px;
    border:none;
    background-color: var(--primary);
    color: rgb(68, 68, 68);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 17px 17px 0px rgba(46, 46, 46, 0.2);
}
form input[type=submit]:hover
{
    background-color: rgb(68, 68, 68);
    color: var(--primary);
}
.container a
{
    color:blue;
}